* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --twilight-header-light :#CE6A85;
    --twilight-header-dark : #693D53;
    --twilight-hexagone-light : rgba(206, 106, 133, 0.502); 
    --twilight-hexagone-dark : rgba(105, 61, 83, 0.5);
    --twilight-text : #5c374c;
    --h2-color :#DE3F00;
    --twilight-categoriesBurnout : #CC4510;
    --btn-light: #FF7D4A;
    --btn-dark: #C45124;
    --btn-border:#F39D7B;
    --btn-mode-border : #CEEFFA;

    --text-a-font : "Kumbh Sans", sans-serif;
    --h1-h2-font : "Inter", sans-serif;


}

body {
    min-height:100vh;
    min-width: 100vw;
    display:flex;
    flex-direction: column;
    font-family:"Kumbh Sans", sans-serif;
    font-weight: 500;
    color: var(--twilight-text);
    font-size: 1.1rem;
    line-height: 1.5;
    flex-grow: 1;

    /*.day {
        background-color: white;
    }*/

    /*.twilight {
        background-color: white;
        color: var(--twilight-text);

        header {
            background: linear-gradient(90deg, #CE6A85,#693D53);
        }
    }*/

    /*.night {
        color:white;
    }*/
}
    
header {
    background: linear-gradient(90deg, #CE6A85,#693D53); 
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom:2rem;
    gap:3rem;

    .titre-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        width:50%;

        nav {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 0.9rem;
            gap:2rem;

            a {
                color:white;
                text-decoration: none;
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 4px;
            }
        }
    }

    .buttons-mode-burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1rem;

        .mode {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap:0.5rem;
            padding:.0.5rem;
            background-color: white;
            border-top:none;
            border-right:none;
            border-left:none;
            border-bottom:6px solid var(--btn-mode-border);
            padding:10px;
            border-radius: 50px;

            i {
                color : grey;
                font-size: 1.5rem;
            }

            .btn-day:hover {
                color:#7fc5df;
            }

            .btn-twilight:hover {
                color: var(--twilight-header-light);
            }

            .btn-night:hover {
                color: #0251b7;
            }

        }

        .mode:active {
            position:relative;
            top:2px;
            border-bottom:4px solid var(--btn-mode-border);
        }

        .burgerNav {
            /*position: absolute;
            right:+10px;
            top: -25px;*/
            font-size: 2rem;
            color:white;
            border:2px solid var(--twilight-hexagone-light);
            border-radius : 7px;
            background-color: transparent;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top:0.3rem;
            padding-bottom: 0.3rem;
            display:none;
        }
    }
}

h1 {
    color:white;
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    padding-bottom:1rem;
}

h2 {
    color :var(--h2-color);
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size:2rem;
    padding-top:0.7rem;
    padding-bottom:0.7rem;

}

.btn {
    background: linear-gradient(90deg, var(--btn-light), var(--btn-dark));
    border-top:none;
    border-right:none;
    border-left:none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right : 20px;
    border-radius: 50px;
    /*box-shadow: 0px 4px 4px rgb(196, 81, 36, 0.3);*/
    border-bottom:6px solid var(--btn-border);
    border-left: 1px  solid var(--btn-border);
    border-right: 1px  solid var(--btn-border);
    position: relative;
    /*height: 3rem;*/
    

    a {
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        color:white;
    }

    span {
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        color:white;
    }
}

.btn:hover {
    position:relative;
    top:3px;
    border-bottom:3px solid var(--btn-border);
    margin-bottom:3px;
}

.btn-2 {
    background: white;
    border-top:2px solid var(--btn-dark);
    border-right: 2px solid var(--btn-dark);
    border-left:2px solid var(--btn-dark);
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right : 20px;
    border-radius: 50px;
    /*box-shadow: 0px 4px 4px rgb(196, 81, 36, 0.3);*/
    border-bottom:6px  solid var(--btn-dark);
    position: relative;
    /*height: 3rem;*/
    

    a {
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        color:var(--btn-dark);
    }

    span {
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        color:var(--btn-dark);
    }
}

.btn-2:hover {
    position:relative;
    top:2px;
    border-bottom:4px solid var(--btn-dark);
    margin-bottom:3px;
}



main {
    width:100%;
}

section {
    width:80%;
    margin:auto;
}

p {
    text-align: justify;

    .gras {
        font-weight: bold;
    }
}

footer {
    background: linear-gradient(90deg, #CE6A85,#693D53); 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    .footer-logo-titre-nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom:2rem;
        gap:40%;

        .titre-nav {
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap:0.5rem;
            
    
            nav {
                display:flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                font-size: 0.9rem;
                gap: 1rem;
    
                a {
                    color:white;
                    text-decoration: none;
                    text-align: center;
                }
    
                a:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 4px;
                }
    
    
            }
        }

    }

    .copyrights {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:50%;
        padding:1rem;
        color:white;
        border-top: 2px solid white;
    }
}

/**--------------------*/
/** Mediaquery 959px : */
/**--------------------*/

@media (max-width:959px) {
    header .titre-nav .nav-hide {
        display:none;
    }

    header .titre-nav .nav-show {
        /*TODO voir dans Adopte Un Vieux pour le display:flex */
        position: absolute;
        top:100%;
        right: 0px;
        background-color:var(--twilight-header-dark);
        padding:20px 30px 50px 50px;
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap:20px;
        z-index: 100;
    }

    header .buttons-mode-burger .burgerNav {
        display:flex;
        
    }

    section {
        width:90%;
    }

}

/**--------------------*/
/** Mediaquery 959px : */
/**--------------------*/

@media (max-width:500px) {
    header {
        display:flex;
        flex-direction: column;
        gap:0.5rem;

        .buttons-mode-burger {
            display: flex;
            flex-direction: row;
            gap:12rem;
        }
    }
}

/**--------------------*/
/** Mediaquery 375px : */
/**--------------------*/

@media (max-width:375px) {
    header .buttons-mode-burger {
        gap:8rem;
    }
}


    
    
    



    
    


