* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --twilight-header-light :#CE6A85;
    --twilight-header-dark : #693D53;
    --twilight-hexagone-light : rgba(206, 106, 133, 0.502); 
    --twilight-hexagone-dark : rgba(105, 61, 83, 0.5);
    --twilight-text : #5c374c;
    --h2-color :#DE3F00;
    --twilight-categoriesBurnout : #CC4510;
    --btn-light: #FF7D4A;
    --btn-dark: #C45124;
    --btn-border:#F39D7B;
    --btn-mode-border : #CEEFFA;

    --text-a-font : "Kumbh Sans", sans-serif;
    --h1-h2-font : "Inter", sans-serif;


}

body {
    min-height:100vh;
    min-width: 100vw;
    display:flex;
    flex-direction: column;
    font-family:"Kumbh Sans", sans-serif;
    font-weight: 500;
    color: var(--twilight-text);
    font-size: 1rem;
    line-height: 1.5;
    flex-grow: 1;

    /*.day {
        background-color: white;
    }*/

    /*.twilight {
        background-color: white;
        color: var(--twilight-text);

        header {
            background: linear-gradient(90deg, #CE6A85,#693D53);
        }
    }*/

    /*.night {
        color:white;
    }*/
}
    
header {
    background: linear-gradient(90deg, #CE6A85,#693D53); 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom:2rem;
    gap:3rem;

    .titre-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        width:50%;

        nav {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 0.9rem;
            gap:2rem;

            a {
                color:white;
                text-decoration: none;
                
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 4px;
            }
        }
    }

    .mode {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap:0.5rem;
        padding:.0.5rem;
        background-color: white;
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom:6px solid var(--btn-mode-border);
        padding:10px;
        border-radius: 50px;

        i {
            color : grey;
            font-size: 1.5rem;
        }

        .btn-day:hover {
            color:#7fc5df;
        }

        .btn-twilight:hover {
            color: var(--twilight-header-light);
        }

        .btn-night:hover {
            color: #0251b7;
        }

    }

    .mode:active {
        position:relative;
        top:2px;
        border-bottom:4px solid var(--btn-mode-border);
    }
    
}

h1 {
    color:white;
    font-style: italic;
    font-weight: 200;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    padding-bottom:1rem;
}

h2 {
    color :var(--h2-color);
    font-style: italic;
    font-weight: 300;
    font-size:2rem;
    padding-top:0.7rem;
    padding-bottom:0.7rem;

}

.btn {
    background: linear-gradient(-60deg, var(--btn-light), var(--btn-dark));
    border-top:none;
    border-right:none;
    border-left:none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right : 20px;
    border-radius: 50px;
    /*box-shadow: 0px 4px 4px rgb(196, 81, 36, 0.3);*/
    border-bottom:6px solid var(--btn-border);
    position: relative;
    height: 3rem;
    

    a {
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        color:white;
    }

    span {
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        color:white;
    }
}

.btn:hover {
    position:relative;
    top:2px;
    border-bottom:3px solid var(--btn-border);
}



main {
    width:100%;
}

section {
    width:80%;
    margin:auto;
}

footer {
    background: linear-gradient(90deg, #CE6A85,#693D53); 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    .footer-logo-titre-nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom:2rem;
        gap:40%;

        .titre-nav {
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap:0.5rem;
            
    
            nav {
                display:flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                font-size: 0.9rem;
                gap: 1rem;
    
                a {
                    color:white;
                    text-decoration: none;
                    text-align: center;
                }
    
                a:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 4px;
                }
    
    
            }
        }

        .buttons-mode-burger {
            display:flex;
            flex-direction: column;
            /*TODO j'atais ici*/
        }
    }

    .copyrights {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:50%;
        padding:1rem;
        color:white;
        border-top: 2px solid white;
    }
}

@media (max-width:950px) {

}





    
    
    



    
    


