* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --text-color : #5c374c;
    --h2-color :#DE3F00;
    --btn-light: #fd8e63;
    --btn-dark: #e3561f;
    --bg-body :#F0DEEE;
    --bg-nav : #693D53;
    --bg-light : linear-gradient(90deg, #F0DEEE, #E1BDDD); 
    --bg-dark : linear-gradient(90deg, #E8CEE6, #D9ADD5);
    --border-purple : #BA90B7;


    --text-a-font : "Kumbh Sans", sans-serif;
    --h1-h2-font : "Marmelad", sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    min-height:100vh;
    min-width: 100%;
    display:flex;
    flex-direction: column;
    font-family:"Kumbh Sans", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.5;
    flex-grow: 1;
    background: var(--bg-body);
}

header {
    position: sticky;
    top: 0;
    background: var(--bg-dark);
    border-bottom:1px solid var(--border-purple);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap:1rem;
    z-index:100;

    .logo-titre {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap:1rem;

        a img {
            width:100px;
        }
    }

    nav {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 0.9rem;
            font-weight: 600;
            gap:2rem;

            a {
                color: var(--text-color);
                text-decoration: none;
                text-align:left;
                position:relative;
            }

            a::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: var(--h2-color);
                transition: transform 0.25s ease-out;
                transform-origin: bottom center;
            }

    }

    .buttons-mode-burger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap:1rem;
        max-width: 100%;
        display:none;

        .burgerNav {
            font-size: 1.5rem;
            color:var(--bg-nav);
            border:none;
            border-radius : 7px;
            background-color: transparent;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top:0.3rem;
            padding-bottom: 0.3rem;
        }

        .burgerNav.nav-open {
            color: white;
        }
    }
}


main {
    flex-grow: 1;
    width:100%;
}

section {
    width:70%;
    margin:auto;
    padding-top:2.5rem;
    padding-bottom: 2.5rem;
}

footer {
    background: var(--bg-light); 
    border:1px solid var(--border-purple);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;

    .footer-logo-titre-nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        gap:40%;

        .titre-nav {
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap:0.5rem;

            h1 {
                color: var(--text-color);
                font-size:1.2rem;
            }
            
    
            nav {
                display:flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                font-size: 0.8rem;
                gap: 1rem;
    
                a {
                    color:var(--text-color);
                    text-decoration: none;
                    text-align: center;
                    position:relative;

                }   

                a::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: var(--text-color);
                    transition: transform 0.25s ease-out;
                    transform-origin: bottom center;
                }
            }
        }
    }

    .copyrights {
        font-size: 1rem;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align:center;
        color:var(--text-color);
    }
}

h1 {
    color: var(--h2-color);
    font-weight: 600;
    font-size: 2rem;
    font-family: var(--h1-h2-font);
}

h2 {
    color :var(--h2-color);
    text-align: center;
    font-weight: 400;
    font-size:2.1rem;
    font-family: var(--h1-h2-font);

}

p {

    .gras {
        font-weight: bold;
    }
}

.btn {
    background: var(--btn-light);
    border:none;
    border-radius: 50px;
    position: relative;
    text-decoration: none;

    .front {
        display: block;
        padding-top:10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right : 20px;
        border-radius: 50px;
        color:white;
        background: var(--btn-dark);
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        transform: translateY(-4px);
        will-change: transform;
        transition: transform 250ms;
    }
    
}

.btn:active .front {
    transform: translateY(-2px);
}

.btn:focus:not(:focus-visible) {
  outline: none;
}

.btn-2 {
    display:block;
    background-color: var(--btn-dark);
    border:none;
    border-radius: 50px;
    position: relative;
    text-decoration: none;
    text-align: center;

    .front {
        display:block;
        padding-top:10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right : 20px;
        border-radius: 50px;
        color:var(--btn-dark);
        background: white;
        border:2px solid var(--btn-dark);
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size:1.2rem;
        font-weight: 500;
        transform: translateY(-4px);
        will-change: transform;
        transition: transform 250ms;
    }
}

.btn-2:active .front {
    transform: translateY(-2px);
}

.btn-2:focus:not(:focus-visible) {
  outline: none;
}

.btn-burnout {
    border:none;
    width:160px;
    height:160px;
    border-radius:50%;
    position:relative;
    text-decoration: none;

    .front {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width:160px;
        height:160px;
        border-radius:50%;
        background:white;
        text-decoration: none;
        font-family: var(--text-a-font);
        font-size: 1.3rem;
        font-weight:600;
        transform: translateY(-6px);
        will-change: transform;
        transition: transform 250ms;
    }
}

.btn-blue {
    background: #55a5c8;

    .front-blue {
        color:#55a5c8;
        border: 3px solid #55a5c8;
    }
}

.btn-purple {
    background: #662e9b;

    .front-purple {
        color:#662e9b;
        border: 3px solid #662e9b;
    }
}

.btn-red {
    background: #ea3546;

    .front-red {
        color:#ea3546;
        border: 3px solid #ea3546;
    }
}

.btn-orange {
    background: #f86624;

    .front-orange {
        color:#f86624;
        border: 3px solid #f86624;
    }
}

.btn-yellow {
    background: #ffaa00;

    .front-yellow {
        color:#ffaa00;
        border: 3px solid #ffaa00;
    }
}

.btn-burnout:active .front {
    transform: translateY(-2px);
}

.btn-burnout:focus:not(:focus-visible) {
  outline: none;
}


/**--------------------*/
/** Mediaquery hover : */
/**--------------------*/

@media (hover: hover) {
    header nav a:hover::after, footer .footer-logo-titre-nav .titre-nav nav a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom center;
    }

    .btn:hover .front {
        transform: translateY(-6px);
    }

    .btn-2:hover .front {
        transform: translateY(-6px);
    }

    .btn-burnout:hover .front {
    transform:translateY(-10px);
}
}

/**--------------------*/
/** Mediaquery 1024px : */
/**--------------------*/

@media (max-width:1024px) {
    header {
        /* position: relative; */
        nav {
            position: fixed;
            top: 0;
            right: 0;
            height: 100dvh;
            width: 70%;
            background-color: var(--bg-nav);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3rem;
            padding: 1rem;
            z-index: 1000;
            overflow:hidden;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;

            a {
                color:white;
            }

            a::after {
                background-color:white;
            }
        }

        nav.nav-show {
            transform: translateX(0);
        }

        .buttons-mode-burger {
            display:flex;

            .burgerNav {
                z-index: 1001;
                position: relative; /* nécessaire pour que z-index fonctionne */
            }
        }
    }

    section {
        width:90%;
    }

}

/**--------------------*/
/** Mediaquery 650px : */
/**--------------------*/

@media (max-width:650px) {
    
    footer {
        flex-direction: column;
        align-items: center;        

        .footer-logo-titre-nav {
            width: 100%;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 1%;
            margin-bottom:2rem;

            .titre-nav {
                align-items: center;                
        
                nav {
                    align-items: center;
                }
            }
        }

        .copyrights {
            width:50%;
            padding:1rem;
            border-top: 2px solid var(--twilight-text);
        }
    }
}

/**--------------------*/
/** Mediaquery 510px : */
/**--------------------*/

@media (max-width:510px) {
    header {
        padding-top:1rem;
        padding-bottom: 1rem;
        gap:1rem;
        img {
            width:60px;
        }
        .logo-titre  {
            a img {
                width:70px;
            }
            h1 {
                font-size: 1.5rem;
            }
        }

        nav {
            width:100%;
        }

    }
}

/**--------------------*/
/** Mediaquery 375px : */
/**--------------------*/

@media (max-width:375px) {
    header {
        gap:0.5rem;
        .logo-titre{
            gap:0.5rem;
        }
    }
}
    



    
    


