:root {
    --text-color : #5c374c;
    --h2-color :#DE3F00;
    --btn-light: #fd8e63;
    --btn-dark: #e3561f;
    --bg-body :#F0DEEE;
    --bg-nav : #693D53;
    --bg-light : linear-gradient(90deg, #F0DEEE, #E1BDDD); 
    --bg-dark : linear-gradient(90deg, #E8CEE6, #D9ADD5);
    --border-purple : #BA90B7;

    --text-a-font : "Kumbh Sans", sans-serif;
    --h1-h2-font : "Marmelad", sans-serif;
}

.section-recherche-psys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
    padding-bottom: 2rem;

    .img-form-carte {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5rem;
        padding-bottom: 2rem;
        width:100%;
        

        img {
            width:35%;
        }

        .form-carte {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap:2.5rem;
            padding-bottom: 2rem;
            width:100%;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
    
                div {
                    display:flex;
                    flex-direction: column;
                    align-items: space-between;
                    gap:1rem;
    
                    fieldset {
                        border: none;
                        display:flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap:1rem;
    
                        input {
                            font-family: var(--text-a-font) ;
                            font-size: 1rem;
                            color: var(--text-a-font);
                            height: 1.7rem;
                            border: 2px solid var(--h2-color);
                            border-radius: 5px;
                            padding:2px;
                        }
    
                        select {
                            font-family: var(--text-a-font) ;
                            font-size: 1rem;
                            color: var(--text-a-font);
                            height: 1.7rem;
                            border: 2px solid var(--h2-color);
                            border-radius: 5px;
                            padding:2px;
                        }
                    }
                }
            }
        }       
    }

    .carte {
        width: 90%;
        height: 450px;
        margin-top: 20px;
        border-radius: 10px;
        display:none;
    }
}

/**--------------------*/
/** Mediaquery 959px : */
/**--------------------*/

@media (max-width:959px) {
    .section-recherche-psys {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        padding-bottom: 2rem;

        .img-form-carte {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 5rem;
            padding-bottom: 1rem;
            width:100%;

            img {
            width:50%;
            }
        }
    }
}



