:root {
    --text-color : #5c374c;
    --h2-color :#DE3F00;
    --btn-light: #fd8e63;
    --btn-dark: #e3561f;
    --bg-body :#F0DEEE;
    --bg-nav : #693D53;
    --bg-light : linear-gradient(90deg, #F0DEEE, #E1BDDD); 
    --bg-dark : linear-gradient(90deg, #E8CEE6, #D9ADD5);
    --border-purple : #BA90B7;

    --text-a-font : "Kumbh Sans", sans-serif;
    --h1-h2-font : "Marmelad", sans-serif;
}

main {

    .section-intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap:1.5rem;
        width:80%;
        
        .img-intro {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap:3.5rem;

            img {
                max-width: 300px;
            }
            
            .intro-h-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap:1.5rem;

                h2 {
                    font-family: var(--text-a-font);
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--text-color);
                    text-align: start;
                }

                h3 {
                    color :var(--h2-color);
                    font-weight: 400;
                    font-size:2.1rem;
                    font-family: var(--h1-h2-font);

                }

                .intro-p {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap:1rem;
                }
            }
        }
        
        .btn-liens {
            display:flex;
            flex-direction:row;
            align-items: center;
            gap:1rem;
            
            a {
                align-self: center;
            }
        }
    }

    .presentationsBurnouts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:2.5rem;
        width:100%;
        padding-bottom: 0;

        h2 {
            width:80%;
        }

        .linksBurnouts {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:1.5rem;
            flex-wrap: wrap;
            align-content: center;
            max-width:80%;
        }

        .categoriesBurnout {
            width:100%;
            
            .categorie {
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding-top:3rem;
                padding-bottom: 3rem;
                padding-left:8rem;
                padding-right:8rem;
                gap:10%;
                width:100%;

                .icone-h3-img {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap:2rem;
                    

                    .icone-h3 {
                        
                        display:flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap:1rem;
    
                        i {
                            color : var(--h2-color);
                            font-size: 2rem;
                        }
    
                        h3 {
                            font-family: var(--text-a-font);
                            font-size: 1.7rem;
                            font-weight: 500;
                            color: var(--h2-color);
                        }
                    }
                }

                .infoBurnout {
                    max-width:80%;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap:1rem;
                    
                    p {
                        padding-bottom:0.5rem;
                    }
                }
            }
            .catPro, .catRel, .catPost {
                flex-direction:row;
                background: var(--bg-dark);
            }

            .catPar, .catPers {
                flex-direction:row-reverse;
            }
        }
    }
}


/**--------------------*/
/** Mediaquery 959px : */
/**--------------------*/

@media (max-width:959px) {
    main {
         .section-intro .img-intro {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            gap:2rem;

            img {
                max-width: 50%;
            }
        }

        .presentationsBurnouts .categoriesBurnout {
            .catPro, .catRel, .catPost, .catPar, .catPers {
                display:flex;
                flex-direction:column;            
                gap:1rem;
            }
            .categorie {
                padding-left:0rem;
                padding-right:0rem;

                .icone-h3-img .icone-h3 {
                    align-items: center;
                    
                }
            }
        }
    }
}

/**--------------------*/
/** Mediaquery 510px : */
/**--------------------*/

@media (max-width:510px) {
    main .section-intro .btn-liens {
        flex-direction: column;

    }

    
}

/**--------------------*/
/** Mediaquery 400px : */
/**--------------------*/

@media (max-width:400px) {
    main .categoriesBurnout .categorie .icone-h3-img .icone-h3 {
        max-width: 90%;
    }
}