:root {
    --twilight-header-light :#CE6A85;
    --twilight-header-dark : #693D53;
    --twilight-hexagone-light : rgba(206, 106, 133, 0.502); 
    --twilight-hexagone-dark : rgba(105, 61, 83, 0.5);
    --twilight-text : #5c374c;
    --h2-color :#DE3F00;
    --twilight-categoriesBurnout : #CC4510;
    --btn-light: #FF7D4A;
    --btn-dark: #C45124;
    --btn-border:#F39D7B;
    --btn-mode-border : #CEEFFA;

    --text-a-font : "Kumbh Sans", sans-serif;
    --h1-h2-font : "Inter", sans-serif;


}

.section-recherche-psys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding-bottom: 2rem;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        div {
            display:flex;
            flex-direction: column;
            align-items: space-between;
            gap:1rem;

            fieldset {
                border: none;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                gap:1rem;

                input {
                    font-family: var(--text-a-font) ;
                    font-size: 1rem;
                    color: var(--text-a-font);
                    height: 1.7rem;
                    border: 2px solid var(--twilight-categoriesBurnout);
                    border-radius: 5px;
                    padding:2px;
                }

                select {
                    font-family: var(--text-a-font) ;
                    font-size: 1rem;
                    color: var(--text-a-font);
                    height: 1.7rem;
                    border: 2px solid var(--twilight-categoriesBurnout);
                    border-radius: 5px;
                    padding:2px;
                }
            }
        }

    }

    .carte {
        width: 70%;
        height: 400px;
        margin-top: 20px;
        border-radius: 10px;
    }
}



